{% extends 'base.html' %}

{% block content %}

{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}


<div style="margin: 30px auto; width: 50%" class="detail" id="polls">
    <div class="jumbotron">
        <h1 class="display-4">{{ question.question_text }}</h1>
    </div>

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <ul>
            {% for choice in question.choice_set.all %}
                <li>
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                </li>
            {% endfor %}
        </ul>
        <div class="d-flex justify-content-center" style="margin-top: 30px;">
            <button type="submit" class="btn btn-primary">Vote</button>
        </div>
        
    </form>
</div>

{% endblock %}